.artist-buttons {
    padding: 10px 25px; 
    font-size: 16px;    
    
    background-color: #1a1a1a; 
    color: #00ffc8;          
    border: 1px solid #00ffc8; 
    border-radius: 50px; 
    box-shadow: 0 0 8px rgba(0, 255, 200, 0.6); 
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; 
    
    cursor: pointer;
    transition: all 0.2s ease;
    border: none; 
}

.artist-buttons:hover {
    background-color: #00ffc8; 
    color: #1a1a1a; 
    transform: scale(1.05);
}

.artist-buttons img {
    width: 20px; 
    height: 20px;
    border-radius: 50%; 
    object-fit: cover;
}
#artistButtons {
    display: flex; 
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    width: 100%; 
    margin-top: 30px; 
    flex-wrap: wrap; 
    gap: 15px; 
}

